*
    margin: 0
    padding: 0

.body
    width: 100%
    height: 500px
    background: #fff

.actions
    width: 100%
    height: 200px
    background: url("../pics/actionsbg.png") no-repeat 50% 100%
    background-size: cover

.action
    display: inline-block
    width: 30%
    height: 100%
    text-align: center

.action:first-child
    margin-left: 5%

.action:last-child
    margin-right: 5%

.capture
    background: url("../pics/capture.png") no-repeat 50% 50%

.publish
    background: url("../pics/publish.png") no-repeat 50% 50%

.monetize
    background: url("../pics/monetize.png") no-repeat 50% 50%

.capture, .publish, .monetize
    width: 50%
    height: 50%
    margin: 0 auto

.action h3, .action p
    color: #33879e
    line-height: 30px
    vertical-align: middle

.action h3
    font-size: 25px

.action p
    font-size: 20px

.features
    width: 90%
    height: 500px
    margin: 0 5%
    margin-top: 50px

.feature
    width: 25%
    height: 80%
    display: inline-block
    text-align: center
    vertical-align: top

.creation
    background: url("../pics/creation.jpg") no-repeat 50% 50%

.management
    background: url("../pics/management.jpg") no-repeat 50% 50%

.engagement
    background: url("../pics/engagement.jpg") no-repeat 50% 50%

.videos
    background: url("../pics/videos.jpg") no-repeat 50% 50%

.creation, .management, .engagement, .videos
    width: 250px
    height: 250px
    background-size: cover
    border: 7px solid #addfd3
    border-radius: 50%
    margin: 15px auto

.feature h3
    font-size: 21px

.feature p
    font-size: 18px
    opacity: .5

.allFeatures
    width: 250px
    height: 50px
    background: #fff
    border: 3px solid #7bcbb8
    border-radius: 25px
    text-align: center
    margin: 50px auto
    transition: .7s

.allFeatures span
    line-height: 50px
    vertical-align: middle

.allFeatures a
    color: #7bcbb8
    text-decoration: none
    font-size: 21px
    display: inline-block
    width: 100%
    height: 100%

.allFeatures:hover
    background: #7bcbb8

.allFeatures a:hover
    color: #fff